{% extends 'main/base.html' %} {% load static %} {% block content %}
<div class="headder">
  <div class="left-headder">
    <h1><strong> Hi! </strong></h1>
    <h1>
      <strong>
        I Am <br />
        <div id="text"></div
      ></strong>
    </h1>
    <p>
      < For the last couple of years I have been developing <br />
      web appications with django and I enjoy it. />
    </p>
    <div class="contact-social">
      <ul class="contact-items">
        <li>
          <a href="">
            <img
              height="30px"
              width="30px"
              src="{% static 'main/img/facebook.png' %}"
              alt="this is facebook logo"
            />
          </a>
        </li>
        <li>
          <a href="">
            <img
              height="30px"
              width="30px"
              src="{% static 'main/img/instagram-logo.png' %}"
              alt="this is messanger logo"
            />
          </a>
        </li>
        <li>
          <a>
            <img
              height="30px"
              width="30px"
              src="{% static 'main/img/twitter.png' %}"
              alt="this is messanger logo"
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="right-headder"></div>
</div>

{% endblock content %} {% block projects %}
<h2 class="hr-lines">< Projects ></h2>
<div class="works">
  <div class="projects">
    {% for project in projects %}
    <div class="real-projects">
      <img class="fakeimage" src="{{ project.image.url }}" />
      <h4>{{ project.title }}</h4>
      <p>
        Used tech: <br />
        {{project.used_tech}}
      </p>

      <a href="#">Learn more..</a>
    </div>

    {% endfor %}
  </div>
</div>
{% endblock projects %} {% block blog %}
<h2 class="hr-lines">< The Blog ></h2>

<!-- Blog section -->
<section class="blog-section">
  {% for blog in blogs %}
  <div class="blog">
    <div class="blog-right">
      <h3>Date: {{blog.date}}</h3>
      <div class="fakeimage">
        <img class="fakeimage" src="{{blog.image.url}}" />
      </div>
    </div>
    <div class="blog-left">
      <h2><a href="">This is what happened: {{ blog.title }} </a></h2>
    </div>

    <br /><br /><br />
  </div>
  {% endfor %}
</section>

{% endblock blog %}
